<div class="panel ">
    <div class="panel-heading panel-primary-wrap">
        {{pageTitle}}
    </div>
    <div class="panel-body">
        <p>Sandy started programming back in 2002 in my first job. Through the years, I have been working many years experience in IT industry and comes from a technical background(both academically and through work experience) I’m passionate about solving problems, and technology in general. I enjoy working with teams of similarly driven and capable developers to create delightful and reliable products and services.</p>

        <p>Programming Languages/Technologies :C#, ASP.NET, ADO.net,LINQ, MVC,WCF, MVVM,WPF,JAVA, PHP, CMS（WordPress, Sitefinity,Nopcommerce), Angular.js,Node.js, Bootstrap,Foundation,SASS&LESS,Compass,Grunt,Ionic,phoneGap, JQuery, JavaScript, AJAX, Git, Github,etc</p>

        <p>Databases:MySQL,SQL Server,MongoDB</p>

        <p>Vision Designer Tool : Photoshop</p>

        <p>Standards:HTML(5), XML, CSS(3), DOM, UML,JSON</p> 

        <p> Application Environments&IDE:Microsoft Visio Studio(MVC), XAMPP, LAMP(Linux+Apache+Mysql+PHP)</p>
    </div>
</div>